<div class="form-check">
    <label class="form-check-label">
        <input type="checkbox" class="form-check-input" value="" checked>
        Global path
    </label>
</div>
<div class="form-check">
    <label class="form-check-label">
        <input type="checkbox" class="form-check-input" value="" checked>
        Local path
    </label>
</div>
<div class="form-check">
    <label class="form-check-label">
        <input type="checkbox" class="form-check-input" value="" checked>
        Detected static entities
    </label>
</div>
<div class="form-check">
    <label class="form-check-label">
        <input type="checkbox" class="form-check-input" value="" checked>
        Detected dynamic entities
    </label>
</div>
